body {
    content: "";
    background: url('../img/argentina.png') no-repeat center center fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar {
    font-size: 0.6em;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-transparent-off {
    background: rgba(255, 255, 255, 0.9);
}

.navbar-transparent-on {
    background: rgba(255, 255, 255, 0);
}

.nav-item.active {
    background: #c8d874;
    border-radius: 5px;
}

/*.navbar-brand {*/
/*    position: fixed;*/
/*    margin-right: 100px;*/
/*    margin-top: 0px;*/
/*}*/

.navbar-brand {
    margin-left: 100px;
}

.navbar-brand-logo-big {
   width: 90px
}

.navbar-brand-logo-small {
   width: 40px
}


.nav-link {
    padding: 10px 20px !important;
    font-size: 2em;
    position: sticky;
    top: 0px;
    color: rgb(56, 56, 56) !important;
    font-weight: bold;

}

.content {
    background: rgba(255, 255, 255, 0.1);
}

.languages {
    padding-left: 50px;
}

.logo {
    width: 150px;
}

.random {
    font-size: 4em;
    color: white;
}

.container-fluid.logo {
    position: absolute;
    right: 8%;
    top: 3%;
    z-index: 2000;
}

.container-fluid.carousel {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid.four-elements {
    width: 90%;
    margin-top: 80px;
}

.bg-transparent {
    background: rgba(255,255,255, 0.1);
}


.container-fluid.four-elements > .row > .col > .card > .card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid.four-elements > .row > .col > .card > .card-body > .card-text {
    font-size: 1.2em !important;
}

.carousel-inner > .item > img {
    margin: auto;
}

.carousel-item > img {
    margin: auto;
    width: 100%;
}

.container-fluid.four-elements > .row > .col > .card {
    width: 12rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.container-fluid.four-elements > .row > .col > .card > .card-body > .card-text {
    font-size: 0.8em;
}

.container-fluid.contact {
    margin-top: 50px;
    width: 80%;
}

.map-container-5 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-5 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card {
    border: none;
}

.patagon-details {
    margin-top: 18px;

}

.social-media-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.flag {
    margin: 15px;
    width: 23px;
}

.whoarewe {
    margin-top: 100px;
}

.jumbotron {
    background: white;
}

.icecreams {
    margin-top: 100px;
}

.icecreams-img {
    width: 250px;
    height: 250px;
}

.flavours {
    margin-top: 120px;
}

.flavours-row {
    margin-top: 30px;
    font-size: 0.7em;
    font-weight: bold;
}

.card-header-flavour {
   padding: 0px;

}

.card-body-flavour {
    padding-right: 0px;
    padding-left: 0px;
}

.page-contact {
    margin-top: 120px;
}

.top-spacer {
    margin-top: 160px;
}

.padding-side-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.vl {
  border-left: 6px solid green;
    height: 200px;
}


@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .navbar-brand-logo-big {
       width: 30px
    }

    .navbar-brand-logo-small {
       width: 30px
    }

    .navbar-transparent-off {
        background: rgba(255, 255, 255, 0.9);
    }

    .navbar-transparent-on {
        background: rgba(255, 255, 255, 0.9);
    }

}

@media (min-width: 1200px) {
}