@font-face {
    font-family: "GuthenBloots";
    src: url("../fonts/guthen_bloots.ttf");
}


@font-face {
    font-family: "Chapaza";
    src: url("../fonts/Chapaza.ttf");
    src: url("../fonts/Chapaza_Italic.ttf");
}

@font-face {
    font-family: "Recoleta";
    src: url("../fonts/Recoleta-Regular.otf") format("opentype");;
}


body {
    font-family: 'Chapaza', Helvetica, sans-serif;;
    content: "";
    background: url('../img/argentina.png') no-repeat center center fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    display: none;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.collapsed-menu-100 {
    margin-left: 2px !important;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-brand-logo {
    width: 100px;
}

#navbar {
    height: 146px;
}

.navbar-transparent-off {
    background: rgba(255, 255, 255);
}

/*.navbar-transparent-on {*/
/*    background: rgba(255, 255, 255, 0);*/
/*}*/

.nav-item.active {
    background: #4fbfed8c;
    border-radius: 5px;
}

.nav-item:hover {
    background: #4fbfed8c;
    border-radius: 5px;
}

/*.navbar-brand {*/
/*    position: fixed;*/
/*    margin-right: 100px;*/
/*    margin-top: 0px;*/
/*}*/

.navbar-brand {
    margin-left: 40px;
}


.navbar-collapse {
    width: 100%;
}


.nav-link {
    padding: 10px 20px !important;
    font-size: 2em;
    position: sticky;
    top: 0px;
    color: rgb(56, 56, 56) !important;
    font-weight: bold;
    white-space: nowrap;

}

.content {
    background: rgba(255, 255, 255, 0.1);
}

.languages {
    margin-right: 20px;
}

.logo {
    width: 150px;
}

.random {
    font-size: 4em;
    color: white;
}

.container-fluid.logo {
    position: absolute;
    right: 8%;
    top: 3%;
    z-index: 2000;
}

.container-fluid.carousel {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid.four-elements {
    width: 90%;
    margin-top: 80px;
}

.bg-transparent {
    background: rgba(255, 255, 255, 0.1);
}


.container-fluid.four-elements > .row > .col > .card > .card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid.four-elements > .row > .col > .card > .card-body > .card-text {
    font-size: 1.2em !important;
}

.carousel-inner > .item > img {
    margin: auto;
}

.carousel-item > img {
    margin: auto;
    width: 100%;
}

.container-fluid.four-elements > .row > .col > .card {
    width: 12rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.container-fluid.four-elements > .row > .col > .card > .card-body > .card-text {
    font-size: 0.8em;
}

.container-fluid.contact {
    margin-top: 50px;
    width: 80%;
}

.map-container-5 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-5 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-body.fourpics {
    padding-left: 0px;
    padding-right: 0px;
    text-align: justify;
    text-justify: inter-word;
}

.patagon-details {
    margin-top: 18px;

}

.social-media-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.flag {
    margin: 5px;
    width: 23px;
}

.whoarewe {
    margin-top: 100px;
}

.jumbotron {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icecreams {
    margin-top: 100px;
}

.icecreams-img {
    width: 250px;
    height: 250px;
}


.flavours {
    margin-top: 120px;
    max-width: 1350px;
}

.flavours-row {
    margin-top: 30px;
    font-size: 0.7em;
    font-weight: bold;
}

.list-group-item.active {
    min-height: 66px;
}


.text_align_left_110 {
    text-align: left;
    height: 110px;
}

.card-header-flavour {
    padding: 0px;
    font-size: 1.2em

}

.card-body-flavour {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.2em
}

.flavour_title_size {
    font-size: 1.3em;
    height: 75px;
}

.card {
    min-width: 222px;
    border: none;
}

.card-img {
    min-height: 155px;
}

.top-spacer {
    margin-top: 65px;
}

.padding-side-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.vl {
    border-left: 6px solid green;
    height: 200px;
}

.event-link {
    color: black;
}

.impressum-modal > p {
    margin: 2px 20px 2px 20px;
    text-align: justify;
    text-justify: inter-word;
}

.press-img {
    padding-left: 20px;
    padding-right: 20px;
}

img.columns4 {
    width: 100px
}

@media screen and (max-width: 900px) {

    #navbar {
        height: 82px;
    }

    .navbar-brand {
        margin-left: 10px;
    }

    .navbar-toggler-left {
        display: block;

    }

    .navbar-toggler-left {
        display: none;

    }

    .container-fluid.carousel {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        top: 65px;
    }

    .navbar-collapse {
        border-radius: 5px;
        padding: 5px;
    }

    .navbar-brand-logo {
        width: 50px;
    }

    .nav-item > .nav-link {
        padding-top: 4px !important;
        padding-bottom: 0px !important;
    }

    .nav-item.languages {
        padding-left: 0px;
    }
}

@media screen and (max-width: 540px) {
    img.columns4 {
        width: 65px;
    }

    .navbar-brand-logo {
        width: 50px;
    }


    .columns4-text {
        padding: 12px 2px !important;

    }

}
